@import '../../styles/colors.scss';
@import '../../styles/styles.scss';

section{
    width: 100%;
    height: 100%;
}
h1 {
    text-align: center;
    color: $color-sucess;
    background-color: pink;
}

.add{
    background-color: rebeccapurple;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;;
}

.group-form{
    align-items: center;
    flex-direction: column;
    padding: 2rem;
    
}

.add-form{
    padding: 1rem;
    display: flex;
    flex-direction:column;
    flex-wrap: wrap;
    width: 28rem;
    border: .1rem solid pink;
    border-radius: 3rem;
    align-items: justify;
    justify-content: space-between;
}   

.add-form-group-area {
    padding: 2rem;
    border: .1rem solid pink;
    border-radius: 1rem;
    display: flex;
    width: 24rem;
    height: 10rem;
    flex-wrap: wrap;
    font-size: 10pt;

    }

.input{
    border: .1rem solid pink;
    border-radius: 2rem;
    display: flex;
    width: 8rem;

}

.add-form-group-label{
    color: pink;
    padding: .5rem;
}
.button-form{
    align-items: center;
    width: 100%;

    @include buttons
}