@import '../../styles/colors.scss';
@import '../../styles/styles.scss';


.content {
    @include container;
    &-title {
      color: $color-primary;
      font-size: 16px;
      text-align: center;
    }
  }

.cards{
    display: flex;
    flex-wrap: wrap;
}